#contact-grid						{margin:0;padding:0;width:875px;}
#contact-grid table					{border-collapse:collapse;border:solid 4px #bababa;padding:0;}
#contact-grid table td				{border:solid 2px #bababa;vertical-align:top;}
#contact-grid table td.toolbar		{white-space:nowrap;background-color:#ddd;padding:4px;}
#contact-grid table td .header		{padding:3px 5px 5px 3px;background-color:#eee;border-bottom:solid 2px #bababa;}

#contact-grid table td #group-pane								{width:265px;}
#contact-grid table td #group-pane #tree-view					{height:450px;overflow:auto;padding:0 5px 0 0;} /* overflow-x, overflow-y are css 3 specs */
#contact-grid table td #group-pane #tree-view a					{padding:1px 3px;}
#contact-grid table td #group-pane #tree-view #root-node		{font-size:1.1em;font-weight:bold;}
#contact-grid table td #group-pane #tree-view li				{white-space:nowrap;}
#contact-grid table td #group-pane #tree-view li span a			{white-space:nowrap;}
#contact-grid table td #group-pane #tree-view li span			{margin:1px;padding:2px 2px 2px 18px;background-repeat:no-repeat;background-position:0 2px;white-space:nowrap;}
#contact-grid table td #group-pane #tree-view a.highlight		{background-color:#00268f;color:#fff;text-decoration:none;}

#contact-grid table td #group-pane #tree-view li.root-node span								{background-image:url(/_images/icons/user.png)}
#contact-grid table td #group-pane #tree-view li.program-node span							{background-image:url(/_images/icons/script.png);}
#contact-grid table td #group-pane #tree-view li.email-group-node span						{background-image:url(/_images/icons/email_user.png)}
#contact-grid table td #group-pane #tree-view li.program-missing-availability-node span		{background-image:url(/_images/icons/clock_red.png)}
#contact-grid table td #group-pane #tree-view li.skill-group-node span						{background-image:url(/_images/icons/plugin_link.png)}
#contact-grid table td #group-pane #tree-view li.skill-node	span							{background-image:url(/_images/icons/plugin.png)}
#contact-grid table td #group-pane #tree-view li.missing-availability-for-skill-node span	{background-image:url(/_images/icons/clock_red.png)}
#contact-grid table td #group-pane #tree-view li.schedule-node span							{background-image:url(/_images/icons/calendar.png)}
#contact-grid table td #group-pane #tree-view li.schedule-missing-availability-node	span	{background-image:url(/_images/icons/clock_red.png)}
#contact-grid table td #group-pane #tree-view li.event-node	span							{background-image:url(/_images/icons/date.png)}
#contact-grid table td #group-pane #tree-view li.event-node	span span						{background-image:none;color:#5f5f5f;font-style:italic;font-size:0.9em;background-image:none;padding:0;margin:0;}
#contact-grid table td #group-pane #tree-view li.event-node	.on-event-date					{background-image:none;color:#5f5f5f;font-style:italic;font-size:0.9em;background-image:none;padding:0;margin:0;}
#contact-grid table td #group-pane #tree-view li.available-for-event-node span				{background-image:url(/_images/icons/clock.png)}
#contact-grid table td #group-pane #tree-view li.not-available-for-event-node span			{background-image:url(/_images/icons/clock_delete.png)}
#contact-grid table td #group-pane #tree-view li.missing-availability-for-event-node span	{background-image:url(/_images/icons/clock_red.png)}

#contact-grid table td #contact-pane					{width:235px;}
#contact-grid table td #contact-pane .listing			{height:450px;overflow:auto;padding:0;}
#contact-grid table td #contact-pane li					{margin:0;padding:2px 2px 2px 5px;overflow:hidden;}
#contact-grid table td #contact-pane li	label			{margin:0;padding:0;vertical-align:middle;}
#contact-grid table td #contact-pane li	input			{margin:0 3px 0  0;padding:0;vertical-align:middle;width:13px;height:13px;}

#contact-grid table td #contact-pane li.highlight		{background-color:#00268f;color:#fff;text-decoration:none;}
#contact-grid table td #contact-pane div.no-members		{color:#7f7f7f;font-size:1.1em;font-style:italic;text-align:center;padding:15px;}
#contact-grid table td #action-pane						{width:359px;font-size:1.2em;}

#contact-grid table td #action-pane #notifier .header	{padding:0;margin-top:10px;margin-bottom:0;border:none;color:#000;background-color:#fff;font-size:1.1em;font-weight:bold;}
#contact-grid table td #action-pane #notifier .details	{padding:0;margin-top:10px;margin-bottom:0;}
#contact-grid table td #action-pane #notifier .help		{padding:0;margin:40px 20px 0 20px;border-top:solid 1px #eee;border-bottom:solid 1px #eee;	}

#tree-view	.icon										{float:left;margin:-1px 3px 0 3px;}
#contact-grid table td.toolbar .qs_input				{width:175px;padding:1px 1px 1px 20px;background-image:url(/_images/icons/magnifier.png);background-repeat:no-repeat;background-position:1px 1px;}
#contact-grid table td.toolbar form						{display:inline;}

#add-group-dialog										{margin:0;padding:0;}
#delete-group-confirm-dialog							{margin:0;padding:0;}

/* modal dialog formatting .. */
.ui-dialog .ui-dialog-title								{font-weight:bold;}
.ui-dialog .ui-dialog-buttonpane						{text-align:center;}
/* overflow:visible removes extra button width in ie */
.ui-dialog .ui-dialog-buttonpane button					{overflow:visible;}
.ui-dialog .ui-dialog-container .ui-dialog-content p	{padding:0;margin:12px;line-height:1.2em;}

#add-group-dialog p,
#add-group-dialog table									{margin:10px;}
#add-group-dialog td									{padding:3px 3px 3px 0;}
#add-group-dialog td.label								{padding-right:25px;}
#add-group-dialog td input								{width:200px;}

#add-group-dialog div.dialog-notify-message				{color:#915608;padding:3px;margin:10px 10px 0 10px;border:solid 1px #fcd113;background-color:#f9e587;}
#add-group-dialog div.dialog-notify-message p			{background-position:0 -1px;background-repeat:no-repeat;background-image:url(/_images/icons/critical.png);margin:0;padding:0 0 10px 20px;font-weight:bold;}
#add-group-dialog div.dialog-notify-message ul			{padding-left:2px;}

